.mobile {
    [id*="terms"] .section-1 {
        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
    }

  [id*="terms"] .section-6 .section-6-slider .swiper-wrapper .swiper-slide{
    height: auto;
  }
    .section-terms {
        .section-6-slider {
            flex-direction: column;
        }
        .terms-info {}
        .info-wrapper {
            flex-direction: column;
            .info {
                width: 100%;
                padding-block: 20px;
            }
        }
    }
    .section-6 .section-6-slider {
        height: auto;

        .section-6-mobile-navigation-scroller {
            position: absolute;
            left:calc(var(--block-offset-left) * -1);
            top: 0;
            width: 100vw !important;
            height: auto;
            z-index: 10;
            display: flex;
            justify-content: space-between;
            pointer-events: none;

            &>* {
                pointer-events: all;
                transition: .25s ease-out;
            }
        }
        @at-root .mobile body[id*="style"] .section-6-mobile-navigation-scroller {
            left: 0 !important;
        }
        @at-root .mobile body[id*="style"] .swiper-navigation-wrapper {
            margin-left: 0 !important;
        }
        @at-root .mobile body[id*="style"] .swiper-navigation-wrapper.swiper-pagination-2 {
            width: 100% !important;
            justify-content: flex-start !important;
            padding-inline: 30px !important;
        }
        @at-root .mobile body[id*="style"] .swiper-navigation-wrapper.swiper-pagination-2 .swiper-pagination-bullet {
            width: auto !important;
        }
        @at-root .mobile body[id*="service"] .section-6-mobile-navigation-scroller {
            left: 0 !important;
        }
        @at-root .mobile body[id*="service"] .swiper-navigation-wrapper {
            margin-left: 0 !important;
        }
        @at-root .mobile body[id*="creators"] .section-6-mobile-navigation-scroller {
            left: 0 !important;
        }
        @at-root .mobile body[id*="creators"] .swiper-navigation-wrapper {
            margin-left: 0 !important;
            padding-inline: 30px  !important;
        }
        .swiper-navigation-wrapper {
            height: auto;
            max-width: 100%;
            display: flex;
            position: static;
            flex-direction: row;
            justify-content: flex-start;
            gap: 0;
            overflow-x: auto;
            padding-bottom: 20px;
            padding-top: 0;
            margin-left: calc(30px * -1);
            margin-right: calc(30px * -1);

            width: 100vw;
            max-width: none;
            padding-inline: 30px;
            @at-root .mobile .section-6-slider-3 & {
                margin-left: 0;
                margin-right: 0;
            }
            .swiper-pagination-bullet {
                padding-inline: 12px;
                border-block-color: #EBEBEB;
                height: 48px;
                &.swiper-pagination-bullet-active {
                    background-color: transparent;
                    color: $bc;
                    border-block-color: $bc;
                }
                span {
                    position: static;
                    line-height: 48px;
                }
            }
            &>* {
                flex-shrink: 0;
                width: auto;
            }
        }
        .swiper-wrapper {
            .main-btn {
                width: 100%;
            }
            .swiper-slide {
              padding-left: 0;
                .slider-top {
                    flex-wrap: wrap;
                }
                .slider-top-right,
                .slider-top-left {
                    width: 100%;
                  height: auto;
                }
                .info-wrapper-3 {
                    display: grid;
                    grid-template-columns: repeat(2, 50%);
                }
                .info-wrapper-4 {
                    .info-row {
                        width: 100%;
                    }
                }
            }
        }
    }
}
