.mobile {
  .contacts-section-2 {
    flex-direction: column;
    gap: var(--offset-50);

    &-info {
      width: 100%;
    }
    .submit-btn, .main-btn {
      width: 100%;
    }

    .form {
      width: 100%;
    }
  }
}
