
.header__menu-open-mobile-close-icon {
    display: none;
}
@include to(1024px){
    .header {
        --header-w-close: 100%;
        z-index: 101;
        .header__menu-open {
            svg {
                rect {
                    transition: .25s ease-out;
                }
            }
        }
        .header-open {
            padding-left: 0;
            padding-right: 0;
            overflow-y: auto;
            .header__call-wrapper {
                display: none;
            }
            .header__menu li {
                justify-content: center;
                svg {
                    transform: rotate(270deg);
                    margin-left: 12px;
                }
            }
        }
        .header-open .header__menu li &__menu-inner {
            position: static;
            height: auto;

            opacity: 1;
            visibility: visible;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: calc(var(--offset-40) * -1);
            margin-right: calc(var(--offset-40) * -1);
            width: 100%;
            display: none;
            margin-top: 15px;
            &.active {
                display: flex;
                animation: fadeFromTop .25s 1 ease-out;
            }
        }
        .header-open &__menu {
            align-items: center;
        }
        &__menu-information {
            flex-wrap: wrap;
        }
        &.open {

            .header__menu-open-mobile-close-icon {
                display: initial;
                transform-origin: center;
                transform-box: fill-box;
                animation: fadeInRotate .25s 1 ease-out;
            }
            .header__menu-open-burger {
                display: none;
            }
            // .header__menu-open {
            //     rect:nth-child(2) {
            //         display: none;
            //     }
            //     rect:first-child {
            //         transform-origin: center;
            //         transform-box: fill-box;
            //         transform: rotate(45deg) translateY(300%);
            //     }
            //     rect:last-child {
            //         transform-origin: center;
            //         transform-box: fill-box;
            //         transform: rotate(-45deg) translateY(-300%);
            //     }
            // }
            .header-open {
                display: flex;
                height: 100vh;
                width: 100vw;
                position: absolute;
                left: 0;
                top: 100%;
                background-color: white;
                .lang-block,
                .header__logo {
                    display: none;
                }
            }
        }
        &__menu-wrapper {
        }
    }
    .header-mob {
        --offset-20: 10px;
        align-items: center;
        .header__inner {
            // gap: 12px;
            &>:nth-child(n+2) {
                margin-left: 12px;
            }
        }
        .header__logo {
            width: 107px;
            height: auto;
            margin-right: auto;
        }
        .header__menu-open {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            column-gap: 8px;
            border: 1px solid $green;
            border-left-color: transparent;border-right-color: transparent;
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: 600;
        }
        .header__call-tell {
            display: none;
        }
        .header__call-back {
            --btn-h: 38px;
        }
    }
}

.mobile-callback-popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100%;
	// height: fill-available;
	// height: -moz-available;          /* WebKit-based browsers will ignore this. */
	min-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
	background-color: rgba(115,115,115, 0.5);
	z-index: 101 !important;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	justify-content: flex-end;
	padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
	font-size: 15px;
  line-height: 100%;
  opacity: 0;
  visibility: hidden;
	&>* {
	  text-decoration: none;
	  width: 100%;
	  height: 50px;
	  display: flex;
	  justify-content: space-between;
      text-transform: uppercase;
	  align-items: center;
	  background: $wc;
      border: 1px solid $green;
	  color: $bc;
      font-weight: 600;
      border-left-color: transparent;border-right-color: transparent;
      padding-left: 12px;
      padding-right: 12px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: -10px;
        top: -20px;
        width: calc(100% + 20px);
        height: calc(100% + 40px);
        z-index: -1;
        background-color: $wc;
      }
	}
	&>:nth-child(n+2) {
	  margin-top: 10px;
	}
  }

.header-logo {
	width: 222px;
	svg.header-logo {
		width: 100%;
		height: 100%;
	}
	@include to(1920px){
		width: 194px;
	}
	@include to(575px){
		width: 130px;
		// &>svg {
		// 	width: 100%;
		// 	height: 100%;
		// }
	}
	@include to(360px){
		width: 100px;
	}
}
[data-up-arrow] {
	position: fixed;
	opacity: 0;
    visibility: hidden;
	--size: 60px;
	right: var(--page-side-fields);
	bottom: var(--page-side-fields);
	width: var(--size);
	height: var(--size);
	z-index:10;
	@include to(575px){
		--size: 40px;
	}
}

@keyframes fadeInRotate {
    0% {
        opacity: 0;
        transform: rotate(125deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0);

    }
}

@keyframes fadeFromTop {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);

    }
}


.tablet, .mobile {
  .header {
    height: var(--header-h);

    .header-mob {
      padding: 0 var(--offset-20);
      height: 100%;
    }
  }
}

.mobile {
  .choose-apartment-btn-wrapper {
    top: calc(var(--header-h) + 8px);
  }
}
