.mobile {
  .section-6 .section-6-slider.section-6-slider-2 .swiper-wrapper .swiper-slide .swiper-slide-info-wrapper .col img{
    height: 30px;
  }

  .service-section-7 .patern-main {
    display: none;
  }

   [data-barba-namespace="service"] .section-6 .section-6-slider.section-6-slider-2 .swiper-navigation-wrapper.swiper-pagination {
     overflow: hidden;
   }
}
