.mobile {
  .style-section-4 {
    .patern-main {
      width: 57px;
      top: 65%;
    }
  }

  .style-section-5 {
    .section-6 .section-6-slider.section-6-slider-2 .swiper-navigation-wrapper.swiper-pagination.swiper-pagination-2 {
      flex-wrap: wrap;
    }

    .section-6 .section-6-slider .swiper-navigation-wrapper.swiper-pagination .swiper-pagination-bullet {
      width: 50%;
    }
  }
}
