.page-404.block-style-center {
  .block-style-center-bg {
    &:before {
      background-image: url("../images/404/bg.png");
    }
    &-info-wrapper {
      width: 40%;

      @include to(1440px) {
        width: 50%;
        top: 58%;
      }

      @include to(1024px) {
        top: 58%;
        width: 80%;
        height: 65%;
        justify-content: space-between;
      }
    }
  }
}

.title-404 {
  @include font($default-font ,300, 100%);;
  color: $wc;
  text-align: center;
  font-size: var(--font-80);
}

.row-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25% 0 var(--offset-50);

  @include to(1440px) {
    margin: 15% 0 2%;
  }

  .num-404 {
    @include font($default-font2 ,400, 100%);;
    color: $wc;
    text-align: center;
    font-size: var(--font-200);
  }

  img {
    @include to(1440px) {
      height: 150px;
      width: auto;
    }
  }
}
.row-404-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  pointer-events: all;
}

@import '../mobile/404-mobile';
