.children-section-3 {

  .green-subtitle {
    margin-bottom: 8px;
  }

  &.block-style-row.block-style-row-2 {
    @include to(680px) {
      gap: 32px;
    }

  }

  .block-style-row__left {
    @include to(680px) {
      width: 100%;
      padding: 0 20px;
    }
  }

  .block-style-row__left .dark-text-wrapper {
    @include to(680px) {
      margin: 20px 0 0 0;
    }
  }

}
.children-section-4 {
  .block-style-column-2__info-wrapper {
    &:after {
      background: linear-gradient(180deg, #FFFFFF 13.02%, rgba(255, 255, 255, 0) 100%);
      height: 50%;
    }
  }
}

.children-section-5 {


  .patern-main {
    top: -25%;
    left: 0;
    width: 355px;

    @include to(1440px) {
      width: 168px;
      top: -15%;
    }

    @include to(1024px) {
      width: 145px;
      top: -8%;
    }

    @include to(680px) {
      width: 38px;
      top: -3%;
    }
  }

  .dark-text-wrapper {
    @include to(680px) {
      margin-top: 20px;
      margin-bottom: 0;
    }

  }
}

.children-section-6 {
  .patern-main {
    bottom: -20%;
    right: 0;
    width: 180px;

    @include to(1440px) {
      width: 112px;
      bottom: 20%;
    }

    @include to(1024px) {
      display: none;
    }
  }
}

.children-section-7 {

  .section-6 .section-6-slider .swiper-wrapper {
    @include to(680px) {
      height: fit-content;
    }
  }
  .section-6 .section-6-slider .swiper-wrapper .swiper-slide {
    @include to(660px) {
      height: 526px;
    }
  }
  .section-6 .section-6-slider.section-6-slider-2 .swiper-navigation-wrapper.swiper-pagination.swiper-pagination-2 {
    @include to(680px) {
      top: 0;
    }
  }

  .section-6 .section-6-slider .swiper-navigation-wrapper.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @include to(680px) {
      background: transparent;
      color: $bc;
      border: 1px solid $bc;
      border-inline-color: transparent;
    }
  }

  .section-6 .section-6-slider .swiper-navigation-wrapper.swiper-pagination .swiper-pagination-bullet {
    @include to(680px) {
      background: transparent;
      color: $bc;
      border: 1px solid $lightGrey;
      border-inline-color: transparent;
    }
  }

  .section-6 .section-6-slider .swiper-navigation-wrapper.swiper-pagination {

    @include to(680px) {
      gap: 0;
    }

  }

}
