.children-section-4 {
  .block-style-column-2__info-wrapper {
    &:after {
      background: linear-gradient(180deg, #FFFFFF 13.02%, rgba(255, 255, 255, 0) 100%);
      height: 50%;
    }
  }
}

.children-section-5 {
  .patern-main {
    top: -25%;
    left: 0;
    width: 355px;

    @include to(1440px) {
      width: 168px;
      top: -15%;
    }

    @include to(1024px) {
      width: 145px;
      top: -8%;
    }
  }
}

.children-section-6 {
  .patern-main {
    bottom: -20%;
    right: 0;
    width: 180px;

    @include to(1440px) {
      width: 112px;
      bottom: 20%;
    }

    @include to(1024px) {
      display: none;
    }
  }
}

.children-section-7 {

}
