.inner-section {
  padding: var(--offset-100) var(--offset-100) 0;
  margin-bottom: var(--block-offset-top);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--offset-100);

  @include to(1440px) {
    padding: 70px var(--offset-100) 0;
    gap: 70px;
  }

  @include to(1024px) {
    padding: 70px var(--offset-20) 0;
  }


  .inner-filter {
    display: flex;
    align-items: center;
    justify-content: center;

    @include to(1024px) {
      width: 100%;
    }

    &-btn {
      height: var(--btn-h-2);
      width: 256px;
      background: transparent;
      border-bottom: 1px solid #EBEBEB;
      border-top: 1px solid #EBEBEB;
      border-left: none;
      border-right: none;
      display: flex;
      align-items: center;
      justify-content: center;
      @include font($default-font3, 600, 100%);
      color: $bc;
      font-size: var(--font-16);
      text-align: center;

      @include to(1024px) {
        width: 100%;
      }

      &.active {
        border-bottom: 1px solid $bc;
        border-top: 1px solid $bc;
      }
    }
  }

  .news-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--offset-20);
    width: 100%;

    @include to(1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.news-card {
  --card-h: 542px;
  --card-img-h: 360px;

  @include to(1440px) {
    --card-h: 405px;
    --card-img-h: 250px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #EBEBEB;
  height: var(--card-h);
  width: 100%;

  &.hide {
    display: none;
  }

  .img {
    height: var(--card-img-h);
    width: 100%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: calc(var(--card-h) - var(--card-img-h));
    padding: var(--offset-40) var(--offset-50);
    gap: var(--offset-20);

    @include to(1440px) {
      padding: var(--offset-40) var(--offset-40);
      gap: 12px;
    }

    &-data {
      @include font($default-font2, 400, 100%);
      color: $grey;
      font-size: var(--font-16);
      text-align: left;
    }

    &-text {
      @include font;
      color: $bc;
      font-size: var(--font-20);
      text-align: left;
    }
  }
}
