.service-section-7 {
  .block-style-row__right {
    @include to(1024px) {
      height: auto;
    }
  }
  .patern-main {
    right: 0;
    top: -10%;
    width: 180px;

    @include to(1440px) {
      width: 112px;
      top: -15%;
    }
  }
}
