.single-news-wrapper {
  margin: var(--offset-100) 0 var(--block-offset-top);
  position: relative;

  .small-btn {
    position: fixed;
    left: calc(var(--header-w-close) + var(--offset-40));
    top: var(--offset-100);
    z-index: 10;

    @include to(1024px) {
      left: var(--offset-20);
    }

    svg {
      width: 35px;
      transform: rotate(180deg);
    }
  }

  .single-news {
    padding: 0 calc(var(--header-w) + var(--offset-20));
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: var(--offset-40);

    @include to(1440px) {
      padding: 0 17%;
    }

    @include to(1024px) {
      padding: 0 calc(var(--btn-h) + var(--offset-20)*2);
    }

    .patern-main {
      position: absolute;
      z-index: 2;
      object-fit: contain;
      pointer-events: none;
    }

    .patern-main-1 {
      right: 0;
      top: 20%;
      width: 270px;

      @include to(1440px) {
        width: 155px;
      }

      @include to(1024px) {
        display: none;
      }
    }

    .patern-main-2 {
      left: 0;
      top: 70%;
      width: 280px;

      @include to(1440px) {
        width: 197px;
      }

      @include to(1024px) {
        display: none;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .dark-title {
        text-align: center;
        margin-bottom: var(--offset-28);
      }

      svg {
        width: 40px;
        height: 2px;
      }
    }

    .img {
      height: auto;
      width: 100%;

      img {
        height: auto;
        width: 100%;
      }
    }

    iframe {
      width: 100%;
      height: 715px;

      @include to(1440px) {
        height: 505px;
      }

      @include to(1024px) {
        height: 346px;
      }
    }

    .text-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      gap: var(--offset-20);

      .title {
        @include font($default-font2, 400, 100%);
        color: $bc;
        text-align: left;
        font-size: var(--font-48);
      }

      .text-list {
        @include font($default-font3, 600, 140%);
        color: $bc;
        text-align: left;
        font-size: var(--font-20);
        gap: 8px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        li {
          list-style: disc;
          margin-left: 20px;
        }
      }
    }

    .main-btn {
      margin-right: auto;
    }
  }

  .last-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--block-offset-top) var(--offset-100) 0;
    gap: var(--offset-50);

    @include to(1024px) {
      padding: var(--block-offset-top) var(--offset-20) 0;
      gap: 40px;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--offset-20);

      @include to(1024px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

.tablet {
  .single-news-wrapper {
    .single-news {
      gap: 0;
      &>:nth-child(n+2) {
        margin-top: var(--offset-40);
      }
      .text-wrapper {
        gap: 0;
        &>:nth-child(n+2) {
          margin-top: var(--offset-20);
        }
      }
    }
    .last-news {
      gap: 0;
        &>:nth-child(n+2) {
          margin-top: 40px;
        }
    }
  }
}

@import '../mobile/news-mobile';
