.space-section-2 {
  .block-style-column-2__info-wrapper {
    &:after {
      background: linear-gradient(180deg, #FFFFFF 30.73%, rgba(255, 255, 255, 0) 100%);
      height: 70%;
    }
  }
}

.space-section-4 {
  .patern-main {
    top: 15%;
    left: 0;
    width: 355px;

    @include to(1440px) {
      width: 202px;
    }

    @include to(1024px) {
      width: 145px;
      top: 50%;
    }

    @include to(680px) {
      display: none;
    }
  }

  .block-style-column-2__info-wrapper {
    &:after {
      background: linear-gradient(180deg, #FFFFFF 13.02%, rgba(255, 255, 255, 0) 100%);
      height: 60%;
    }
  }
}

.space-section-5 {
  .patern-main {
    bottom: 15%;
    right: 0;
    width: 180px;

    @include to(1440px) {
      display: none;
    }
  }
}
