.section-terms {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: var(--offset-100);
  padding-right: var(--offset-100);
  gap: var(--offset-100);

  @include to(1024px) {
    flex-direction: column-reverse;
    padding-left: var(--block-offset-left);
    padding-right: var(--block-offset-right);
    padding-bottom: var(--block-offset-top);
    gap: 0;
  }

  .terms-info {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;

    @include to(1024px) {
      width: 100%;
      gap: var(--offset-20);
    }

    .dark-title {
      font-size: var(--font-48);
      text-align: left;
    }

    .info-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;

      @include to(1024px) {
        flex-direction: row;
        border-top: 1px solid #F3EFE2;
      }

      .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;
        width: 100%;
        border-bottom: 1px solid #F3EFE2;
        padding: 32px 0;

        @include to(1024px) {
          width: 50%;
          border-bottom: none;
        }

        &:first-child {
          border-top: 1px solid #F3EFE2;

          @include to(1024px) {
            border-top: none;
          }
        }

        .dark-text-uppercase {
          @include font($default-font3, 600, 140%);
          color: $bc;
          font-size: var(--font-16);
          text-align: left;
          text-transform: uppercase;
        }

        .row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: var(--offset-20);

          .dark-text {
            width: 100%;
          }

          svg {
            height: 16px;
            width: 9px;
            fill: $green;
            stroke: $green;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

.tablet {
  .section-terms {
    .terms-info {
      .row {
        gap: 0;
        &>:nth-child(n+2) {
          margin-left: var(--offset-20);
        }
      }
    }
  }
}

@import '../mobile/terms/terms-mobile';