.form-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  background: rgba(31, 32, 38, 0.4);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 101;

  .form {
    height: auto;
    width: 40%;
    background: $wc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--offset-100);

    @include to(1440px) {
      width: 45%;
    }

    @include to(1024px) {
      width: 80%;
      padding: 0 60px;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.form-title {
  text-align: left;
  font-size: var(--font-48);
}
.form-text {
  margin-top: 8px;
}
.form-close  {
  position: absolute;
  top: var(--offset-40);
  right: var(--offset-40);
  cursor: pointer;
  z-index: 1000;

  svg {
    stroke: $green;
    height: 24px;
    width: 24px;

    @include to(1440px) {
      height: 18px;
      width: 18px;
    }
  }
}
.input-title {
  @include font($default-font2, 400, 100%);
  font-size: var(--font-16);
  color: $bc;
  text-align: left;
  margin-bottom: 8px;
}
.submit-btn, .form-thanks-btn {
  margin-top: var(--offset-40);
  cursor: pointer;
  border-left: none;
  border-right: none;
  width: 360px;

  @include to(1440px) {
    width: 310px;
  }
}
.form-field:not(#t) {
  position: relative;
  margin: var(--offset-28) 0 0;
  background: transparent;
  transition: all 0.3s;
  width: 100%;
  &.first-offset {
    margin: var(--offset-40) 0 0;
  }
}
[data-animation="focus"] .input-message {
  @include font($default-font2, 400, 100%);
  font-size: var(--font-16);
  color: $grey;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 3;
  display: flex;
  transform: translate(0%, -50%);
  user-select: none;
  pointer-events: none;
  transition: all 0.16s cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}
textarea.form-field__input {
  padding-top: 22px;
  height: 178px;

  @include to(1440px) {
    height: 100px;
    padding-top: 16px;
  }
}
.form-field__input {
  @include font($default-font2, 400, 100%);
  font-size: var(--font-16);
  color: $grey;
  text-align: left;
  height: 60px;
  width: 100%;
  background: rgba(113, 167, 0, 0.05);
  border: 1px solid #F3EFE2;
  padding-left: 24px;
  cursor: pointer;

  @include to(1440px) {
    height: 48px;
    padding-left: 16px;
  }

  &::placeholder {
    @include font($default-font2, 400, 100%);
    font-size: var(--font-16);
    color: $grey;
    text-align: left;
  }
  &:focus + .form-field-message {
    opacity: 1;
  }
}
.mask-absolute {
  @include font($default-font2, 400, 100%);
  font-size: var(--font-16);
  color: $grey;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 60px;
  width: 100%;
  //background: rgba(113, 167, 0, 0.05);
  //border: 1px solid #F3EFE2;
  padding-left: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  @include to(1440px) {
    height: 48px;
    padding-left: 16px;
  }
}
[data-animation="focus"] .form-field__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
[data-animation="none"] .input-message {
  @include font($default-font2, 400, 100%);
  font-size: var(--font-16);
  color: $grey;
  text-align: left;
  position: absolute;
  bottom: -1px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  text-transform: none;
  transform: translate(0%, 100%);
}
[data-field-input][data-status="field--inactive"]:not(#r) {
  .input-message {
    color: $grey;
  }
}
[data-field-input][data-status="field--active"]:not(#r) {
  .input-message {
    color: $grey;
  }
}
[data-field-input][data-status="field--error"]:not(#r) {
  .input-message {
    color: #EA4041;
  }
}
[data-field-input][data-status="field--success"]:not(#r) {
  .input-message {
    color: #96C480;
  }
}
.selected:not(#f) .input-message {
  top: 0;
  @include font($default-font2, 400, 100%);
  font-size: var(--font-16);
  color: $grey;
  text-align: left;
}
.requaired-block {
  &-ico {
    width: 25px;
    height: 25px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
.requaired-block {
  &__ico {
    width: 25px;
    height: 25px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    @include font($default-font2, 400, 100%);
    font-size: var(--font-16);
    color: $grey;
    text-align: left;
    margin: 0px vw(18);
    white-space: nowrap;
  }
}

.form-field-message {
  position: absolute;
  top: 0;
  opacity: 0;
  @include font($default-font2, 400, 100%);
  font-size: var(--font-16);
  color: $grey;
  text-align: left;
  transform: translateY(calc(-100% - 10px));
}

.requaired-block-ico--position {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.form-thanks-wrapper {
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgba(10, 17, 27, 0.5);
  transition: opacity 0.5s ease-out, visibility 1ms linear 0.5s;
  &.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-out, visibility 1ms linear 0.5s;
  }
  .form-thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    height: 40%;
    background: $wc;
  }
}

@import './form-mobile';
