footer.footer
  .footer-main
    .arrow-up.small-btn
      +svg('arrow2')
    .footer-col-1
      img(src='./assets/images/logo.svg' alt='logo').logo
      a(href="#").main-btn
        span.desktop Записатися на перегляд
        span.laptop на перегляд
        +svg('arrow')
      .footer-social-wrapper
        .footer-social
          a(href="#").facebook
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.25 5.98781H17.75V5.48781V2.38731V1.95139L17.3181 1.89198C16.9854 1.8462 15.9062 1.75 14.6567 1.75C13.2677 1.75 12.0477 2.18904 11.1752 3.07785C10.3029 3.96641 9.83214 5.24899 9.83214 6.83169V9.0625H7.5H7V9.5625V13.0286V13.5286H7.5H9.83214V21.75V22.25H10.3321H13.8045H14.3045V21.75V13.5294H16.5221H16.9637L17.0182 13.0912L17.4496 9.62507L17.5196 9.06331H16.9535H14.3037V7.17578C14.3041 6.69429 14.3753 6.42626 14.5011 6.27197C14.6076 6.14143 14.8435 5.98781 15.47 5.98781H17.25Z"/>
            </svg>
          a(href="#").instagram
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25C9.92893 8.25 8.25 9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75Z" stroke="#464646" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16.125 3.375H7.875C5.38972 3.375 3.375 5.38972 3.375 7.875V16.125C3.375 18.6103 5.38972 20.625 7.875 20.625H16.125C18.6103 20.625 20.625 18.6103 20.625 16.125V7.875C20.625 5.38972 18.6103 3.375 16.125 3.375Z" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16.875 7.875C17.2892 7.875 17.625 7.53921 17.625 7.125C17.625 6.71079 17.2892 6.375 16.875 6.375C16.4608 6.375 16.125 6.71079 16.125 7.125C16.125 7.53921 16.4608 7.875 16.875 7.875Z"/>
            </svg>
          a(href="#").youtube
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.3032 3.83984H4.69646H4.6967C3.70552 3.83984 2.75511 4.26004 2.05444 5.00834C1.35352 5.75641 0.959961 6.7711 0.959961 7.82931V16.1706V16.1704C0.959961 17.2286 1.35354 18.2433 2.05444 18.9913C2.75511 19.7397 3.70552 20.1598 4.6967 20.1598H19.3035H19.3032C20.2944 20.1598 21.2448 19.7396 21.9455 18.9913C22.6464 18.2433 23.04 17.2286 23.04 16.1704V7.82905V7.82931C23.04 6.7711 22.6464 5.75641 21.9455 5.00834C21.2448 4.26002 20.2944 3.83984 19.3032 3.83984V3.83984ZM16.3243 12.1592L9.70031 15.7858C9.6477 15.8147 9.58491 15.8126 9.53444 15.78C9.48373 15.7476 9.45269 15.6892 9.45222 15.6262V8.37286C9.45269 8.30987 9.48373 8.25143 9.53444 8.21905C9.58491 8.18642 9.6477 8.18439 9.70031 8.21323L16.3243 11.8399C16.3809 11.871 16.4167 11.9332 16.4167 12.0013C16.4167 12.0694 16.3809 12.1316 16.3243 12.1627V12.1592Z" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        .footer-subtitle Слідкуйте за красою
    .footer-nav-wrapper
      .footer-col-2
        .footer-subtitle Про місто:
        ul.footer-nav-list
          li
            a(href="location.html").footer-text
              span Розташування
          li
            a(href="lifestyle.html").footer-text
              span Стиль життя
          li
            a(href="service.html").footer-text
              span Безпека та сервіс
          li
            a(href="health.hmtl").footer-text
              span Здоров’я
          li
            a(href="space.html").footer-text
              span Простір
          li
            a(href="style.html").footer-text
              span Стиль проекту
          li
            a(href="sport.html").footer-text
              span Спорт та відпочинок
          li
            a(href="children.html").footer-text
              span Дітям

      .footer-col-2
        .footer-subtitle Будинки:
        ul.footer-nav-list
          li
            a(href="3d.html").footer-text
              span Індивідуальні будинки
          li
            a(href="3d.html").footer-text
              span Дуплекси
          li
            a(href="3d.html").footer-text
              span Таунхауси
          li
            a(href="3d.html").footer-text
              span Сітіхауси

      .footer-col-2
        .footer-subtitle Інформація:
        ul.footer-nav-list
          li
            a(href="#").footer-text
              span Новини та акції
          li
            a(href="#").footer-text
              span Умови придбання
          li
            a(href="#").footer-text
              span Хід будівництва
          li
            a(href="#").footer-text
              span Засновники міста
          li
            a(href="contacts.html").footer-text
              span Контакти


    .footer-col-3
      .footer-subtitle Офіси продажу:
      .footer-info-wrapper
        .footer-info
          .footer-info-subtitle в  О.Краса
          a(href="tel:+380000000000").footer-text +380 (00) 00-00-000
          a(href="#").footer-text.link м. Ірпінь, вул. Олега Кошового
        .footer-info
          .footer-info-subtitle в  Ірпені:
          a(href="tel:+380976311133").footer-text +380 (97) 63-111-33
          a(href="#").footer-text.link м. Ірпінь, вул. Тургенівска, 10, оф. 38
        .footer-info
          .footer-info-subtitle в  Бучі:
          a(href="tel:+380968880782").footer-text +380(96)888-07-82
          a(href="#").footer-text.desktop.link м. Буча, вул., Шевченка, 1а
          a(href="#").footer-text.mobile
            span.link м. Буча,
            span.link вул., Шевченка, 1а

  .footer-mob-social
    .footer-social-wrapper
      .footer-social
        a(href="#").facebook
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.25 5.98781H17.75V5.48781V2.38731V1.95139L17.3181 1.89198C16.9854 1.8462 15.9062 1.75 14.6567 1.75C13.2677 1.75 12.0477 2.18904 11.1752 3.07785C10.3029 3.96641 9.83214 5.24899 9.83214 6.83169V9.0625H7.5H7V9.5625V13.0286V13.5286H7.5H9.83214V21.75V22.25H10.3321H13.8045H14.3045V21.75V13.5294H16.5221H16.9637L17.0182 13.0912L17.4496 9.62507L17.5196 9.06331H16.9535H14.3037V7.17578C14.3041 6.69429 14.3753 6.42626 14.5011 6.27197C14.6076 6.14143 14.8435 5.98781 15.47 5.98781H17.25Z"/>
          </svg>
        a(href="#").instagram
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25C9.92893 8.25 8.25 9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75Z" stroke="#464646" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M16.125 3.375H7.875C5.38972 3.375 3.375 5.38972 3.375 7.875V16.125C3.375 18.6103 5.38972 20.625 7.875 20.625H16.125C18.6103 20.625 20.625 18.6103 20.625 16.125V7.875C20.625 5.38972 18.6103 3.375 16.125 3.375Z" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M16.875 7.875C17.2892 7.875 17.625 7.53921 17.625 7.125C17.625 6.71079 17.2892 6.375 16.875 6.375C16.4608 6.375 16.125 6.71079 16.125 7.125C16.125 7.53921 16.4608 7.875 16.875 7.875Z"/>
          </svg>
        a(href="#").youtube
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.3032 3.83984H4.69646H4.6967C3.70552 3.83984 2.75511 4.26004 2.05444 5.00834C1.35352 5.75641 0.959961 6.7711 0.959961 7.82931V16.1706V16.1704C0.959961 17.2286 1.35354 18.2433 2.05444 18.9913C2.75511 19.7397 3.70552 20.1598 4.6967 20.1598H19.3035H19.3032C20.2944 20.1598 21.2448 19.7396 21.9455 18.9913C22.6464 18.2433 23.04 17.2286 23.04 16.1704V7.82905V7.82931C23.04 6.7711 22.6464 5.75641 21.9455 5.00834C21.2448 4.26002 20.2944 3.83984 19.3032 3.83984V3.83984ZM16.3243 12.1592L9.70031 15.7858C9.6477 15.8147 9.58491 15.8126 9.53444 15.78C9.48373 15.7476 9.45269 15.6892 9.45222 15.6262V8.37286C9.45269 8.30987 9.48373 8.25143 9.53444 8.21905C9.58491 8.18642 9.6477 8.18439 9.70031 8.21323L16.3243 11.8399C16.3809 11.871 16.4167 11.9332 16.4167 12.0013C16.4167 12.0694 16.3809 12.1316 16.3243 12.1627V12.1592Z" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
      .footer-subtitle Слідкуйте за красою

    .arrow-up.small-btn
      +svg('arrow2')
  .footer-bottom
    .footer-text © 2023 "О.Краса". Усі права захищено.
    a(href="#").smarto
      img(src='./assets/images/smarto.svg' alt='smarto')


