.mobile-callback-popup(data-mobile-callback-popup) 
    a.mobile-callback-popup__tel(href="tel:+380443563777") 
        span Виклик +380 (44) 356 37 77
        <svg width="35" height="20" viewBox="0 0 35 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M27.9994 14.9738V17.9846C28.0005 18.2642 27.9431 18.5408 27.831 18.7969C27.7188 19.053 27.5542 19.2829 27.3478 19.4719C27.1415 19.6608 26.8978 19.8047 26.6325 19.8942C26.3672 19.9838 26.0861 20.017 25.8072 19.9919C22.7128 19.6563 19.7404 18.601 17.1289 16.9108C14.6992 15.3699 12.6393 13.3141 11.0953 10.8892C9.39586 8.27099 8.33824 5.29008 8.00816 2.18795C7.98303 1.91042 8.01608 1.63071 8.1052 1.36663C8.19432 1.10254 8.33757 0.859872 8.52581 0.654066C8.71405 0.448259 8.94317 0.283825 9.19858 0.171234C9.45398 0.058642 9.73008 0.000359723 10.0093 9.73016e-05H13.0261C13.5141 -0.00469635 13.9872 0.167778 14.3572 0.485372C14.7273 0.802966 14.969 1.24401 15.0373 1.72629C15.1646 2.68982 15.4007 3.63587 15.7412 4.54641C15.8765 4.90563 15.9058 5.29602 15.8256 5.67133C15.7454 6.04665 15.559 6.39115 15.2887 6.66402L14.0116 7.93859C15.4431 10.4512 17.5276 12.5315 20.0451 13.9602L21.3222 12.6856C21.5956 12.4158 21.9408 12.2298 22.3169 12.1498C22.6929 12.0698 23.0841 12.099 23.444 12.234C24.3564 12.5738 25.3043 12.8095 26.2698 12.9365C26.7582 13.0053 27.2044 13.2509 27.5233 13.6265C27.8422 14.0021 28.0116 14.4817 27.9994 14.9738Z" fill="#71A700"/>
            </svg>
    .mobile-callback-popup__callback(data-call-form data-mobile-callback-close) 
        span Зворотній дзвінок
        <svg width="35" height="16" viewBox="0 0 35 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="7.5" width="30" height="1" fill="#71A700"/>
            <path d="M29.6505 7.78778L27.0315 2.20049C26.8008 1.7084 27.4102 1.25351 27.8164 1.61457L34.5796 7.6263C34.8033 7.82519 34.8033 8.17481 34.5796 8.3737L27.8164 14.3854C27.4102 14.7465 26.8008 14.2916 27.0315 13.7995L29.6505 8.21222C29.7136 8.07776 29.7136 7.92224 29.6505 7.78778Z" fill="#71A700"/>
            </svg>
    .mobile-callback-popup__close(data-mobile-callback-close) 
        span Відмінити
        <svg width="35" height="32" viewBox="0 0 35 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="35" height="32" fill="white"/>
            <path d="M26.5 25L8.5 7M8.5 25L26.5 7L8.5 25Z" stroke="#71A700" stroke-width="2"/>
            </svg>
