.sideform
    ul
        li
            a(href="tel:+995596076076").dark-text-uppercase +995 596 076 076
        li
          a(href="contacts.html").dark-text-uppercase Замовити дзвінок
        li.cancel.js-mobile-close.light-text-uppercase Закрити
