.mobile {
  .section-3 .patern-main {
    width: 54px;
    top: 2%;
  }

  .section-4 .patern-main {
    width: 57px;
    bottom: 8%;
  }

  .section-7 .patern-main {
    width: 57px;
    top: 80%;
  }

  .section-9 .patern-main {
    display: none;
  }
}
