.mobile {
    .section-1 {
      .patern-main-1, .patern-main-2 {
        display: none;
      }
      --home-swiper-1-top-offset: calc(var(--header-h) +  20px);
      .swiper-pagination {
          display: none;
      }
      .swiper-wrapper .swiper-slide-info-wrapper{
          max-width: 70%;
      }
      .section-1-slider .swiper-wrapper .swiper-wrapper__arrows .swiper__devider {
        width: var(--btn-h);
      }
      &-info-wrapper {
          grid-template-areas: "block2";
          grid-template-rows: 100%;
          grid-template-columns: 100%;
          gap: 0;
          .section-1-info-block-3 {
              display: none;
          }
          .arrow-down {
              display: none;
          }
      }
  }
}
