
extends ../layout/main
block variable
  -
    var title_page = 'space'
    var id_page = 'id-page-space'
    var class_page = 'class-page-space'
    var breadcrumbsSubitem = [
      {
        label: 'space',
        link: pagesLink[0].space
      }
    ]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/loader.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/form.js')
  script(defer src='./assets/scripts/arrow-up.js')
  script(defer src='./assets/scripts/arrow-down.js')
  script(defer src='./assets/scripts/social-btn.js')

block content
  section.section-1.block-style-center
    .block-style-center-bg
      img(src='./assets/images/space/1.jpg' alt='img')
      .block-style-center-bg-info-wrapper
        .subtitle-main Краса там, де
        .light-title-main Більше простору
        +svg('patern3')
    .block-style-center-info-wrapper
      a(href="#section-2").section-1-info-1.arrow-down
        +svg('arrow2')
        .light-uppercase-text Дізнатися більше
    img(src='./assets/images/home/section-1/patern-1.png' alt='patern').patern-main.patern-main-1
    img(src='./assets/images/home/section-1/patern-2.png' alt='patern').patern-main.patern-main-2
  section.space-section-2.block-style-column-2#section-2
    .block-style-column-2__text-wrapper-2
      .block-style-text
        +svg('patern').patern-1
        .dark-text Ледве не забули розповісти про нашу органічну ферму! Тут завжди свіжа зелень та натуральні овочі. Вам не потрібно виїжджати до великого міста на ринок чи в супермаркет, адже у нас передбачено органічний город та магазин еко-продуктів.
        +svg('patern2').patern-2
      .block-style-column-2__text-wrapper
        .dark-title Чисте повітря
        +svg('patern2').patern
        .dark-text Те, чим ми дихаємо та у якому середовищі живемо, відіграє значну роль для здоровʼя. Погоджуємось, природа та екологія в О.Краса нам підіграли, адже тут ви в постійному контакті з ними.
    .block-style-column-2__info-wrapper.block-style-column__info-wrapper.block-style-column__info-wrapper--mobile
      input(type="range", name="aaaa")
      include ../includes/block-style-column-mobile-image-scroller-svg.pug
      .mobile-text.light-uppercase-text Прогуляйтесь кварталом
      div.block-style-column__mobile-scroller
        img(src='./assets/images/space/2.jpg' alt='img')
    .block-style-column-2__info-wrapper.block-style-column__info-wrapper.block-style-column__info-wrapper--desktop
      .mobile-text.light-uppercase-text Прогуляйтесь кварталом
      img(src='./assets/images/space/2.jpg' alt='img')
  section.block-style-row.block-style-row-2.block-offset-top
    .block-style-row__left.block-offset-left
      .green-subtitle В О.Kраса своя
      .dark-title Екосистема озелення
      .dark-text-wrapper
        .dark-text Поєднання хвойних, листяних та фруктових дерев зі злаковими, квітучими та польовими рослинами створюють атмосферу неповторності природи в будь-яку пору року.
        .dark-text Ми підібрали рослини, кожна з яких має власний період цвітіння. Тож гуляючи вулицями міста, ви будете насолоджуватись зеленню протягом усього року.
    .block-style-row__right.block-offset-right-2
      img(src='./assets/images/space/3.jpg' alt='img')
  section.space-section-4.block-style-column-2.for-patern
    img(src='./assets/images/space/patern-1.png' alt='patern').patern-main
    .block-style-column-2__text-wrapper
      .green-subtitle Поруч з вами
      .dark-title Власні виноградники
      +svg('patern2').patern
      .dark-text-wrapper
        .dark-text На схилах міста та вздовж прогулянкових маршрутів ми розмістили власні виноградники.
        .dark-text Для їх вирощування ми не використовуємо хімічні добрива, а на ділянці поруч висадили й інші рослини, щоб збільшити популяцію пташок.
    .block-style-column-2__info-wrapper.block-style-column__info-wrapper.block-style-column__info-wrapper--mobile
      input(type="range", name="aaaa")
      include ../includes/block-style-column-mobile-image-scroller-svg.pug
      .mobile-text.light-uppercase-text Прогуляйтесь кварталом
      div.block-style-column__mobile-scroller
        img(src='./assets/images/space/4.jpg' alt='img')
    .block-style-column-2__info-wrapper.block-style-column__info-wrapper.block-style-column__info-wrapper--desktop
      .mobile-text.light-uppercase-text Прогуляйтесь кварталом
      img(src='./assets/images/space/4.jpg' alt='img')
  section.space-section-5.block-style-row.block-style-row-2.block-style-row-reverse.block-offset-top.for-patern
    img(src='./assets/images/space/patern-2.png' alt='patern').patern-main
    .block-style-row__left.block-offset-right
      .dark-title Озеро та риболовля
      .dark-text-wrapper
        .dark-text В О.Krasa ми зберегли та відновили всі водні ресурси, що розташовані на території. Річка, канали, озера для риболовлі... Лише уявіть, якими насиченими стануть ваші вихідні, навіть не виїжджаючи з міста.
    .block-style-row__right.block-offset-left-2
      img(src='./assets/images/space/5.jpg' alt='img')
  section.block-style-row.block-style-row-2.block-offset-top
    .block-style-row__left.block-offset-left
      .dark-title Подвір’я з виходом до води
      .dark-text-wrapper
        .dark-text Власний двір - це не лише відчуття простору та свободи, а й можливість насолоджуватись пухким газоном тоді, коли Вам забажається.
        .dark-text А уявіть лишень на секунду, що з подвірʼя є ще й вихід до води! Хоча ні, не уявляйте! Просто оберіть дім біля одного з каналів.
    .block-style-row__right.block-offset-right-2
      img(src='./assets/images/space/6.jpg' alt='img')
  section.block-style-text
    +svg('patern').patern-1
    .dark-text Ледве не забули розповісти про нашу органічну ферму! Тут завжди свіжа зелень та натуральні овочі. Вам не потрібно виїжджати до великого міста на ринок чи в супермаркет, адже у нас передбачено органічний город та магазин еко-продуктів.
    +svg('patern2').patern-2
  a(href="style.html").block-style-nav
    img(src='./assets/images/patern-main-1.png' alt='patern').patern-main-1
    img(src='./assets/images/patern-main-2.png' alt='patern').patern-main-2
    .block-style-nav-left.block-offset-left
      .light-text Наступний розділ
      .light-title Стиль проєкту
      .white-btn
        span Перейти
        +svg('arrow')
    .block-style-nav-right
      picture
        source(srcset="./assets/images/arrow-green.svg" media="(min-width: 1024px)")
        img(src="./assets/images/arrow-green-tablet.svg").arrow-green
      img(src='./assets/images/space/footer.jpg' alt='footer-nav').img
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
