.swiper-container(data-location-section-2-mobile-slider)
  .swiper-wrapper 
    .block-wrapper.swiper-slide
      .row
        .dark-title 10
        .block-text хвилин
      .block-text до метро Житомирська
      .row.animation-row
        <svg class="car" width="50" height="19" viewBox="0 0 50 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="10.5" cy="14.0095" r="3.5" stroke="#71A700" stroke-width="2"/>
        <circle cx="39.5" cy="14.0095" r="3.5" stroke="#71A700" stroke-width="2"/>
        <path d="M13.1759 14.928C16.8662 15.0471 28.0408 15.2123 36.4867 14.928M42.2299 14.928C43.9135 14.979 48.1252 14.8158 48.2885 13.7546C48.4925 12.4281 48.5436 11.2037 48.6456 10.2853C48.7476 9.36701 46.5028 6.35693 35.942 6.35693C35.7471 6.35693 35.5427 6.35693 35.3298 6.35693M9.87163 3.09175C11.0451 2.3945 14.147 1 17.1673 1C19.1735 1 20.2853 1 20.8406 1M9.87163 3.09175C12.1647 5.45765 17.6037 6.21407 20.8406 6.33801M9.87163 3.09175L7.06562 4.92841H3.13721C2.79708 4.94542 2.11684 5.14269 2.11684 5.79573C2.11684 6.44876 2.11684 8.07455 2.11684 8.80581L1.35156 9.36701V12.071L7.5 14.5095M35.3298 6.35693C31.4849 6.35693 24.8769 6.35693 21.912 6.35693C21.5936 6.35877 21.2333 6.35304 20.8406 6.33801M35.3298 6.35693C30.3912 2.1122 23.9187 1.01701 21.2997 1C21.2598 1 21.1213 1 20.8406 1M20.8406 1V6.33801" stroke="#71A700" stroke-width="2"/>
        </svg>
        <svg class="line" width="190" height="16" viewBox="0 0 190 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.25" y="7.75" width="184.5" height="0.5" rx="0.25" stroke="#71A700" stroke-width="0.5" stroke-dasharray="1 1"/>
        <path d="M184.651 7.78778L182.031 2.20049C181.801 1.7084 182.41 1.25351 182.816 1.61457L189.58 7.6263C189.803 7.82519 189.803 8.17481 189.58 8.3737L182.816 14.3854C182.41 14.7465 181.801 14.2916 182.031 13.7995L184.651 8.21222C184.714 8.07776 184.714 7.92224 184.651 7.78778Z" fill="#71A700"/>
        </svg>
        .green-text 6 км
    .block-wrapper.swiper-slide
      .row
        .dark-title 5
        .block-text хвилин
      .block-text до дитячого садку
      .row.animation-row
        <svg class="bicycle" width="40" height="29" viewBox="0 0 40 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_2905_3930)">
        <path d="M13.2002 21.5C13.2002 25.156 10.45 28 7.2002 28C3.95035 28 1.2002 25.156 1.2002 21.5C1.2002 17.844 3.95035 15 7.2002 15C10.45 15 13.2002 17.844 13.2002 21.5Z" stroke="#71A700" stroke-width="2"/>
        <circle cx="31.7002" cy="21.5" r="6.5" stroke="#71A700" stroke-width="2"/>
        <path d="M14.3797 9.54922L8.1261 19.8166C7.72022 20.483 8.19989 21.3368 8.98015 21.3368H20.6617M14.3797 9.54922H32.2002M14.3797 9.54922L20.6617 21.3368M14.3797 9.54922L13.7387 4.49741M32.2002 9.54922V21.3368M32.2002 9.54922V3.46114C31.9865 2.64076 31.3028 1 30.2771 1C28.9951 1 27.713 1.90674 27.2002 3.07254M20.6617 21.3368L19.7643 25.3523L17.1178 26M20.6617 21.3368L21.6874 17.4508H23.7333M13.7387 4.49741H17.6672M13.7387 4.49741H10.0665" stroke="#71A700" stroke-width="2" stroke-linecap="round"/>
        </g>
        <defs>
        <clipPath id="clip0_2905_3930">
        <rect width="40" height="29" fill="white"/>
        </clipPath>
        </defs>
        </svg>
        <svg class="line" width="201" height="16" viewBox="0 0 201 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.25" y="7.75" width="195.5" height="0.5" rx="0.25" stroke="#71A700" stroke-width="0.5" stroke-dasharray="1 1"/>
        <path d="M195.651 7.78778L193.031 2.20049C192.801 1.7084 193.41 1.25351 193.816 1.61457L200.58 7.6263C200.803 7.82519 200.803 8.17481 200.58 8.3737L193.816 14.3854C193.41 14.7465 192.801 14.2916 193.031 13.7995L195.651 8.21222C195.714 8.07776 195.714 7.92224 195.651 7.78778Z" fill="#71A700"/>
        </svg>
        .green-text 500 м

    .block-wrapper.swiper-slide
      .row
        .dark-title 8
        .block-text хвилин
      .block-text до Сільпо
      .row.animation-row
        <svg class="car" width="50" height="19" viewBox="0 0 50 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="10.5" cy="14.0095" r="3.5" stroke="#71A700" stroke-width="2"/>
        <circle cx="39.5" cy="14.0095" r="3.5" stroke="#71A700" stroke-width="2"/>
        <path d="M13.1759 14.928C16.8662 15.0471 28.0408 15.2123 36.4867 14.928M42.2299 14.928C43.9135 14.979 48.1252 14.8158 48.2885 13.7546C48.4925 12.4281 48.5436 11.2037 48.6456 10.2853C48.7476 9.36701 46.5028 6.35693 35.942 6.35693C35.7471 6.35693 35.5427 6.35693 35.3298 6.35693M9.87163 3.09175C11.0451 2.3945 14.147 1 17.1673 1C19.1735 1 20.2853 1 20.8406 1M9.87163 3.09175C12.1647 5.45765 17.6037 6.21407 20.8406 6.33801M9.87163 3.09175L7.06562 4.92841H3.13721C2.79708 4.94542 2.11684 5.14269 2.11684 5.79573C2.11684 6.44876 2.11684 8.07455 2.11684 8.80581L1.35156 9.36701V12.071L7.5 14.5095M35.3298 6.35693C31.4849 6.35693 24.8769 6.35693 21.912 6.35693C21.5936 6.35877 21.2333 6.35304 20.8406 6.33801M35.3298 6.35693C30.3912 2.1122 23.9187 1.01701 21.2997 1C21.2598 1 21.1213 1 20.8406 1M20.8406 1V6.33801" stroke="#71A700" stroke-width="2"/>
        </svg>
        <svg class="line" width="190" height="16" viewBox="0 0 190 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.25" y="7.75" width="184.5" height="0.5" rx="0.25" stroke="#71A700" stroke-width="0.5" stroke-dasharray="1 1"/>
        <path d="M184.651 7.78778L182.031 2.20049C181.801 1.7084 182.41 1.25351 182.816 1.61457L189.58 7.6263C189.803 7.82519 189.803 8.17481 189.58 8.3737L182.816 14.3854C182.41 14.7465 181.801 14.2916 182.031 13.7995L184.651 8.21222C184.714 8.07776 184.714 7.92224 184.651 7.78778Z" fill="#71A700"/>
        </svg>
        .green-text 5 км
    .block-wrapper.swiper-slide
      .row
        .dark-title 15
        .block-text хвилин
      .block-text до центру Ірпеня
      .row.animation-row
        <svg class="bicycle" width="40" height="29" viewBox="0 0 40 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_2905_3930)">
        <path d="M13.2002 21.5C13.2002 25.156 10.45 28 7.2002 28C3.95035 28 1.2002 25.156 1.2002 21.5C1.2002 17.844 3.95035 15 7.2002 15C10.45 15 13.2002 17.844 13.2002 21.5Z" stroke="#71A700" stroke-width="2"/>
        <circle cx="31.7002" cy="21.5" r="6.5" stroke="#71A700" stroke-width="2"/>
        <path d="M14.3797 9.54922L8.1261 19.8166C7.72022 20.483 8.19989 21.3368 8.98015 21.3368H20.6617M14.3797 9.54922H32.2002M14.3797 9.54922L20.6617 21.3368M14.3797 9.54922L13.7387 4.49741M32.2002 9.54922V21.3368M32.2002 9.54922V3.46114C31.9865 2.64076 31.3028 1 30.2771 1C28.9951 1 27.713 1.90674 27.2002 3.07254M20.6617 21.3368L19.7643 25.3523L17.1178 26M20.6617 21.3368L21.6874 17.4508H23.7333M13.7387 4.49741H17.6672M13.7387 4.49741H10.0665" stroke="#71A700" stroke-width="2" stroke-linecap="round"/>
        </g>
        <defs>
        <clipPath id="clip0_2905_3930">
        <rect width="40" height="29" fill="white"/>
        </clipPath>
        </defs>
        </svg>
        <svg class="line" width="201" height="16" viewBox="0 0 201 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.25" y="7.75" width="195.5" height="0.5" rx="0.25" stroke="#71A700" stroke-width="0.5" stroke-dasharray="1 1"/>
        <path d="M195.651 7.78778L193.031 2.20049C192.801 1.7084 193.41 1.25351 193.816 1.61457L200.58 7.6263C200.803 7.82519 200.803 8.17481 200.58 8.3737L193.816 14.3854C193.41 14.7465 192.801 14.2916 193.031 13.7995L195.651 8.21222C195.714 8.07776 195.714 7.92224 195.651 7.78778Z" fill="#71A700"/>
        </svg>
        .green-text 5 км
    .block-wrapper.swiper-slide
      .row.offset
        .dark-title 2
        .block-text хвилин
      .block-text до річки
      .row.animation-row
        <svg class="human" width="18" height="29" viewBox="0 0 18 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_2905_3944)">
        <path d="M10.416 5.46707C11.6565 5.46707 12.6621 4.43998 12.6621 3.17299C12.6621 1.906 11.6565 0.878906 10.416 0.878906C9.17552 0.878906 8.16992 1.906 8.16992 3.17299C8.16992 4.43998 9.17552 5.46707 10.416 5.46707Z" stroke="#71A700" stroke-width="1.75758"/>
        <path d="M4.4636 10.1194L4.16562 10.2714L4.04414 10.5831L2.67363 14.0994C2.32351 14.9977 2.70978 16.0153 3.56782 16.455C4.29384 16.827 5.13304 16.6787 5.69029 16.1732L4.92831 20.2801L1.61935 24.5872C0.995987 25.3986 1.12392 26.5573 1.90928 27.2132C2.75528 27.9197 4.0223 27.7642 4.67231 26.874L3.97603 26.3656L4.67231 26.874L8.26044 21.9602L8.38304 21.7923L8.41741 21.5872L8.69148 19.9525L9.74477 20.746V25.722C9.74477 26.7786 10.6013 27.6351 11.6579 27.6351C12.7145 27.6351 13.571 26.7786 13.571 25.722V19.5949V19.2005L13.2765 18.9384L10.7809 16.7174L10.9264 16.028L11.0091 16.0591L14.2459 17.275C15.233 17.6458 16.3348 17.1543 16.7185 16.1721C17.1091 15.172 16.6069 14.0456 15.602 13.6675L13.175 12.7545L12.0289 9.76618C11.6435 8.7615 10.7207 8.06245 9.64884 7.96415C9.11716 7.91539 8.58255 8.01828 8.10695 8.26089L8.50629 9.04371L8.10695 8.26089L4.4636 10.1194Z" stroke="#71A700" stroke-width="1.75758"/>
        </g>
        <defs>
        <clipPath id="clip0_2905_3944">
        <rect width="18" height="29" fill="white"/>
        </clipPath>
        </defs>
        </svg>
        <svg class="line" width="214" height="16" viewBox="0 0 214 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.25" y="7.75" width="208.5" height="0.5" rx="0.25" stroke="#71A700" stroke-width="0.5" stroke-dasharray="1 1"/>
        <path d="M208.651 7.78778L206.031 2.20049C205.801 1.7084 206.41 1.25351 206.816 1.61457L213.58 7.6263C213.803 7.82519 213.803 8.17481 213.58 8.3737L206.816 14.3854C206.41 14.7465 205.801 14.2916 206.031 13.7995L208.651 8.21222C208.714 8.07776 208.714 7.92224 208.651 7.78778Z" fill="#71A700"/>
        </svg>
        .green-text 100 м
  .swiper-navigation-wrapper.swiper-pagination-mobile