.footer {
  padding-top: var(--footer-offset);
  padding-left: var(--block-offset-left);
  padding-right: var(--block-offset-right);
  border-top: 1px solid #F3EFE2;

  .footer-subtitle {
    @include font($default-font3 ,600, 140%);;
    text-align: left;
    color: $bc;
    font-size: var(--font-16);
    text-transform: uppercase;
    margin-bottom: var(--offset-20);
  }

  .footer-social-wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;

    @include to(1024px) {
      display: none;
    }

    .footer-social {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;

      a {
        height: 24px;
        width: 24px;

        svg {
          stroke: $bc;
        }
      }
    }

    .footer-subtitle {
      margin-bottom: 0;
    }
  }

  &-main {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-bottom: var(--footer-offset-2);
    border-bottom: 1px solid #F3EFE2;
    position: relative;

    @include to(1024px) {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: 'col1 col3'
      '. col2';
      gap: var(--offset-20);
    }

    .arrow-up {
      position: absolute;
      right: calc(-1*var(--btn-h));
      z-index: 2;

      svg {
        transform: rotate(90deg);
      }

      @include to(1024px) {
        display: none;
      }
    }

    .footer-col-1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 20%;

      @include to(1440px) {
        width: auto;
      }

      @include to(1024px) {
        grid-area: col1;
      }

      .logo {
        height: var(--logo-h);
        width: auto;

        @include to(1440px) {
          height: 78px;
        }

        @include to(1024px) {
          height: 62px;
        }
      }

      .main-btn {
        margin: var(--offset-40) 0;

        .laptop {
          display: none;
        }

        @include to(1440px) {
          min-width: 100%;

          .desktop {
            display: none;
          }

          .laptop {
            display: flex;
          }
        }

        @include to(1024px) {
          margin: var(--offset-40) 0 0;
        }
      }

      .footer-social-wrapper {
        display: flex;

        @include to(1024px) {
          display: none;
        }
      }
    }

    .footer-nav-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 40%;

      @include to(1440px) {
        width: 45%;
      }

      @include to(1024px) {
        grid-area: col2;
        width: 100%;
        gap: var(--offset-20);
      }

      .footer-col-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        @include to(1024px) {
          width: calc(100%/3);
        }

        .footer-nav-list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: var(--offset-12);
        }
      }
    }

    .footer-col-3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 20%;

      @include to(1440px) {
        width: auto;
      }

      @include to(1024px) {
        grid-area: col3;
        border-bottom: 1px solid #F3EFE2;
        padding-bottom: var(--offset-40);
      }

      .footer-info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: var(--offset-20);

        @include to(1024px) {
          flex-direction: row;
          justify-content: space-between;
        }

        .footer-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 8px;

          @include to(1024px) {
            width: calc(100%/3);
          }

          &-subtitle {
            @include font(400, 100%);
            text-align: left;
            color: $bc;
            font-size: var(--font-16);
          }
        }
      }
    }
  }

  &-mob-social {
    display: none;

    @include to(1024px) {
      display: flex;
      padding: var(--offset-40) 0;
      border-bottom: 1px solid #F3EFE2;
      align-items: center;
      justify-content: space-between;
    }

    .footer-social-wrapper {
      display: none;

      @include to(1024px) {
        display: flex;
        flex-direction: row-reverse;
      }
    }

    .arrow-up {
      height: var(--btn-h-2);
      width: var(--btn-h-2);

      svg {
        transform: rotate(90deg);
      }
    }
  }

  &-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: var(--offset-20);

    @include to(1024px) {
      padding-left: calc(82px - var(--offset-20));
      padding-right: calc(82px - var(--offset-20));
    }

    .smarto {
      img {
        height: 57px;
        width: 52px;
        object-fit: contain;
      }
    }
  }

  .footer-text {
    @include font($default-font2, 400, 140%);
    text-align: left;
    color: $grey;
    font-size: var(--font-16);

    &.link, .link {
      text-decoration: underline;
    }

    &.desktop {
      @include to(1024px) {
        display: none;
      }
    }

    &.mobile {
      display: none;

      @include to(1024px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
